/*
Colores utilizados
===========================================
    https://flatuicolors.com/palette/nl

    Gris: #eee;
    Blue: #0652DD;
    Blue Acuarela: #12CBC4;
    Purpura: #6F1E51;
    Red Suave: #ED4C67; 

===========================================

Funetes Utilizadas
===========================================
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;

===========================================
*/

//Variables de Colores
$purpura:  #6F1E51;
$gris-suave: #eeeeee;
$acuarela: #12CBC4;
$rojo-suave: #ED4C67;

//Variebles de Letras
$size: 14px;
$lineHeight: 28px;
$decoration: none;
$uppercase: uppercase;
$family: 'Roboto', sans-serif;


