@import './reset/variables';

// Importando estilos de los Componentes
@import './header/index.scss';
@import './main/index.scss';
@import './footer/index.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html {
	scroll-behavior: smooth;
}
body {
	// background-image: url(../img/fondo.jpg);
	// background-repeat: no-repeat;
	// background-size: auto;

	font-size: 20px;

}